<h1 class="display-1 text-center">Welcome to ED4U</h1>
    <p class="lead text-center">
        This website allows you to manage the data of our tutoring company.
        You can start by navigating to the correct page using the links above.
    </p>

    <!-- Dashboard Cards -->
    <!-- Citation for the cards
        Date: 11/04/2021
        Adapted from
        Source URL: https://getbootstrap.com/docs/4.0/components/card/
    -->
    <div class="container">
        <div class="row my-5">
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mentors</h5>
                        <p class="card-text">Add, remove, and update mentor information to the database.</p>
                        <a href="mentors" class="btn btn-secondary active">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Students</h5>
                        <p class="card-text">Add, remove, and update student information to the database.</p>
                        <a href="students" class="btn btn-secondary active">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                          <h5 class="card-title">Courses</h5>
                          <p class="card-text">Add, remove, and update course information to the database.</p>
                          <a href="courses" class="btn btn-secondary active">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Students_Courses</h5>
                      <p class="card-text">Add, remove, and update students and courses information to the database.</p>
                      <a href="students_courses" class="btn btn-secondary active">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tutors</h5>
                        <p class="card-text">Add, remove, and update tutor information to the database.</p>
                        <a href="tutors" class="btn btn-secondary active">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                          <h5 class="card-title">Invoices</h5>
                          <p class="card-text">Add, remove, and update invoices information to the database.</p>
                          <a href="invoices" class="btn btn-secondary active">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

