<html>
<h1>Update Invoice {{invoice.invoice_id}}:</h1>
<form id="update_invoice" action="/invoices" method="post">
    payment_status: <select name="payment_status" id="payment_status" value="{{invoice.payment_status}}">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
</form>
<button onclick="updateInvoice({{invoice.invoice_id}})">Update</button>
<script defer>selectStudent({{invoice.student_id}});</script>
</html>

<script type="text/javascript">
    function updateInvoice(id){
        $.ajax({
            url: '/invoices/' + id,
            type: 'PUT',
            data: $('#update_invoice').serialize(),
            success: function(result){
                window.location.replace("./")
            }
        })
    }

    function selectStudent(id){
    $("#student_id").val(id);
    }
</script>